# macOS
.DS_Store

# VSCode
.vscode/

# Entorno virtual
.venv/

# Variables de entorno
.env

# Python cache
__pycache__/
*.py[cod]

# PyInstaller / Spec files
*.spec

# Carpetas de build
build/
dist/

# Backups
Backup de la app andando/
